<div class="div1-indexComponent center-align">
  <div class="headline center-align">
    <h5>Master</h5>
  </div>
  <nav class="white">
    <div class="container">
      <div class="nav-wrapper">
        <!-- <a href="#" class="brand-logo">Logo</a> -->
        <ul id="nav-mobile">
          <li>
            <a href="" class="btn" [routerLink]="['masterlink1']"
              >Master-Link1</a
            >
          </li>
          <li>
            <a href="" class="btn" [routerLink]="['masterlink2']"
              >Master-Link2</a
            >
          </li>
          <li><a href="" class="btn" [routerLink]="['']">Master-Link3</a></li>
          <li><a href="" class="btn" [routerLink]="['']">Master-Link4</a></li>
          <li><a href="" class="btn" [routerLink]="['']">Master-Link5</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
