<div class="div1-indexComponent center-align">
  <div class="headline center-align">
    <h5>Index</h5>
  </div>
  <nav class="white">
    <div class="container">
      <div class="nav-wrapper">
        <!-- <a href="#" class="brand-logo">Logo</a> -->
        <ul id="nav-mobile">
          <li>
            <a href="" class="btn" [routerLink]="['indexlink1']">Index-Link1</a>
          </li>
          <li><a href="" class="btn" [routerLink]="['']">Index-Link2</a></li>
          <li><a href="" class="btn" [routerLink]="['']">Index-Link3</a></li>
          <li><a href="" class="btn" [routerLink]="['']">Index-Link4</a></li>
          <li><a href="" class="btn" [routerLink]="['']">Index-Link5</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
