<section class="Sec1-login">
  <div class="main">
    <div class="row">
      <div class="col s4"></div>
      <div class="col s4">
        <div class="card">
          <h5 class="center-align">Login Here...</h5>
          <hr />
          <br />
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Enter Username"
          /><br /><br />
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Password"
          /><br /><br />
          <button [routerLink]="['main']">Login</button>
        </div>
      </div>
      <div class="col s4"></div>
    </div>
  </div>
</section>
